/*
@author: Marcos Fermin
@title: Loging page CSS Stylesheet
This is the CSS Stylesheet of the Login front-end (Login.aspx)   
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: 0px auto auto auto;
    height: 405px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: 0px;
    left: 0px;
    height: 208px;
}
.form input {
  border-style: none;
    border-color: inherit;
    border-width: 0;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
  width: 101%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button { /*Button Configuration for the Login*/
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #005DAA; /*Guttman's Default Blue Color*/
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #FF6A00;  /* Button turns ORANGE when you place cursor */
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #005DAA; 
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #005DAA; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #005DAA, #005DAA);
  background: -moz-linear-gradient(right, #005DAA, #005DAA);
  background: -o-linear-gradient(right, #005DAA, #005DAA);
  background: linear-gradient(to left, #005DAA, #005DAA);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      

}
